$textColor: #ffffff;
$heroTextColor: #ffffff;
$blue1: #1B6CA7;
$blue2: #110169;
$overleyColor: #0e0e0e;
$barTextColor: #000000;
$barBackgroundColor: #ffffff;
$buttonTextColor: #ffffff;
$buttonBackgroundColor:#2a39c3;