$textColor: #ffffff;
$heroTextColor: #ffffff;
$blue1: #131313;
$blue2: #171717;
$overleyColor: #000000;
$barTextColor: #000000;
$barBackgroundColor: #ffffff;
$buttonTextColor: #ffffff;
$buttonBackgroundColor:#131313;